doctype html
head
  include head
body
  include sections/about
  include sections/skills
  include sections/experience
  include sections/projects
  include sections/education
  include sections/languages
  include sections/contact