@import "../mixins";
.contact {
  background: #fff;
  position: relative;

  & span {
    position: absolute;
    top: -100px;
  }

  &__title {
    margin-bottom: 56px;
  }

  .row--center {
    @include align-center;
  }

  &__item {
    margin-right: 213px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__img-wrapper {
    & img {
      border-radius: 50%;
    }
  }

  &__socials {
    display: flex;
    margin-bottom: 104px;

    &-img-wrapper {
      width: 60px;
      height: 60px;
      margin-right: 16px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__mail {
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 8px;
  }

  &__tel {
    color: #000000;
  }
}

@media only screen and (max-width: 480px) {
  .contact {
    & span {
      top: -50px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__item {
      margin-right: 0;
      margin-bottom: 24px;
      text-align: center;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__socials {
      justify-content: center;
      margin-bottom: 32px;
    }
  }
}
