@import "../mixins";
.languages {
  background: #fafafa;
  position: relative;

  & span {
    position: absolute;
    top: -100px;
  }

  &__title {
    margin-bottom: 56px;
  }

  &__item {
    text-align: center;
  }

  &__img-wrapper {
    margin-bottom: 24px;
  }

  &__info {
    &-title {
      margin-bottom: 8px;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 480px) {
  .languages {
    & span {
      top: -50px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__item {
      margin-bottom: 22px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__img-wrapper {
      margin-bottom: 12px;
    }
  }
}
