include ../mixins
section.about
  span#about
  .container
    header.about__header
      +headerNavigation(navigationValues)
    .about__content
      .about__info.col-m-12
        h2.about__title.title.title--left Egor Lapkin
        h2.about__subtitle.title.title--left.title--gray Front-end developer
        p.about__text Hi, I am Egor Lapkin and I am Junior Front-end developer. 
        p.about__text I have completed Front-end courses at IT School Intellect Fox and have basic knowledge of HTML, CSS, JavaScript, React and Redux.
        .about__buttons
          a.about__button.button.col-m-12(href="#" download) Download CV
          a.button.col-m-12(href="#contact") Contact me
      .about__photo.col-m-12
        .about__photo-wrapper
          img.img(src=images + "photo.png" alt="Photo")